<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-2">
                <img src="media/bearlogo.jpg">
            </div>
            <div class="col-sm-8">
                <h1 class="text-center">Transparent Government in Fact</h1>
            </div>
            <div class="col-sm-2">
                <i class="far fa-envelope"></i> <a href="mailto: info@tgif.net"> info@tgif.net</a>
            </div>
        </div>


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Congress 113
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="congress_113_house.html">House</a>
                            <a class="dropdown-item" href="congress_113_senate.html">Senate</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Attendance
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="attendance_house.html">House</a>
                            <a class="dropdown-item" href="attendance_senate.html">Senate</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Party Loyalty
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="loyalty_house.html">House</a>
                            <a class="dropdown-item" href="loyalty_senate.html">Senate</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="row">
            
                <div class="jumbotron">
                    <h1 class="display-4">Senators</h1>
                    <p class="lead">First convened in 1789, the composition and powers of the Senate are established in Article One of
                        the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered
                        six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to
                        treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet
                        secretaries, federal judges, other federal executive officials, military officers, regulatory officials,
                        ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.
                    </p>
                </div>

        </div>

    </div>


    <div class="container">
        <div class="row" id="app">
            <div class="col">
            <div class="alert alert-dark">
                <label>Democrat</label>
                <input type="checkbox" id="Democrat" value="D" v-model="checkedBox" v-on:change="filterTableSenators">
                <label>Republic</label>
                <input type="checkbox" id="Republic" value="R" v-model="checkedBox" v-on:change="filterTableSenators">
                <label>Independent</label>
                <input type="checkbox" id="Independent" value="I" v-model="checkedBox" v-on:change="filterTableSenators">
                
            

        
                <b>Select state:</b>
                <select v-on:change="filterTableSenators" id="states" v-model="statesValue">
                    <option value="all">All</option> 
                    <option value="AK">AK</option>
                    <option value="AL">AL</option>
                    <option value="AR">AR</option>
                    <option value="AZ">AZ</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="IA">IA</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="MA">MA</option>
                    <option value="MD">MD</option>
                    <option value="ME">ME</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MO">MO</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="NE">NE</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NV">NV</option>
                    <option value="NY">NY</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VA">VA</option>
                    <option value="VT">VT</option>
                    <option value="WA">WA</option>
                    <option value="WI">WI</option>
                    <option value="WV">WV</option>
                    <option value="WY">WY</option>
                 </select>
                </div>
            </div>

                 <table class="table table-striped table-light">
                        <thead>
                            <th> Name </th>
                            <th> Party Affiliation</th>
                            <th> State  <select v-on:change="filterTableSenators" id="states" v-model="statesValue">
                                <option value="all">All</option> 
                                <option value="AK">AK</option>
                                <option value="AL">AL</option>
                                <option value="AR">AR</option>
                                <option value="AZ">AZ</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DE">DE</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="HI">HI</option>
                                <option value="IA">IA</option>
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="MA">MA</option>
                                <option value="MD">MD</option>
                                <option value="ME">ME</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MO">MO</option>
                                <option value="MS">MS</option>
                                <option value="MT">MT</option>
                                <option value="NC">NC</option>
                                <option value="ND">ND</option>
                                <option value="NE">NE</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>
                                <option value="NV">NV</option>
                                <option value="NY">NY</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VA">VA</option>
                                <option value="VT">VT</option>
                                <option value="WA">WA</option>
                                <option value="WI">WI</option>
                                <option value="WV">WV</option>
                                <option value="WY">WY</option>
                             </select></th>
                            <th> Years in Office </th>
                            <th> % Votes w/Party </th>
                        </thead>
                        <tbody>
                            <template v-if="senatorsSenate.length">
                                <tr v-for="value in senatorsSenate">
                                    <td>{{value.first_name}} {{value.middle_name}} {{value.last_name}}</td>
                                    <td>{{value.party}} </td>
                                    <td>{{value.state}} </td>
                                    <td>{{value.seniority}} </td>
                                    <td>{{value.votes_with_party_pct}} </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                

        </div>
    </div>
        <div class="row align-items-center">

                <div class="col-sm">

                        <div class="alert alert-secondary" class="text-center" role="alert">
                               <p class="text-center"> © 2016 TGIF | All Rights Reserved </p>
                              </div>
                     
                </div>
           


        </div>

    


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="congress_113.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>